*/ body {
  overflow-x: hidden;
}

#zero-pad {
  padding: 0px !important;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.4rem;
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  color: white;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

div > .list-group > #selected {
  background-color: #2185d0 !important;
  color: white;
}
#card-width-min {
  min-width: 18rem;
  text-align: justify;
}

#whiteColor {
  color: white !important;
}
#font-size-card {
  font-size: 26px;
  font-weight: bolder;
}

#font-size-sub {
  font-size: 20px;
  font-weight: bold;
}
.out-but:focus {
  box-shadow: none !important;
}

.scroll {
  opacity: 0.7;
  background-color: #2185d0;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  outline: none !important;
}
.scroll:hover {
  opacity: 1;
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

html,
body,
.app {
  height: 100vh;
  background: white;
}

/* SidePanel.js */
.menu {
  padding-bottom: 2em;
}

/* Messages.js */
.messages {
  height: 62vh;
  overflow-y: scroll;
}

/* MessageForm.js */

.emoijpicker {
  position: absolute;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

/* ProgressBar.js */
.progress__bar {
  margin: 0.3em 0 0 0 !important;
}

/* Typing.js */
.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Skeleton.js */
.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
}

/*flex*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 450px) {
  #main-pad {
    padding: 0px 3px !important;
  }
  .white-back {
    padding: 0px 3px !important;
  }
  #center-modal {
    top: 30vh;
  }
  #ticketback {
    background-position: bottom bottom;
    background-size: 100%;
    height: 100vh !important;
  }
}

#ticketback {
  background-image: url("./svg/ticket.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 23%;
  height: 100vh;
  overflow-x: hidden !important;
}

#center-modal {
  height: auto;
}

@media (min-width: 450px) {
  #center-modal {
    position: absolute;
    top: 30vh;
    left: 50vh;
  }

  #center-modal-create {
    position: absolute;
    top: 15vh;
    left: 50vh;
  }
}
