@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
* {
  margin: 0;
  padding: 0;
}

#landingback {
  background-image: url("./svg/test3.svg"), url("./svg/test4.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 33%;
  height: 100vh;
  overflow-x: hidden !important;
}

@media (max-width: 450px) {
  #landingback {
    background-position: top top, bottom bottom;
    background-size: 65%;
  }

  #loginback {
    background-position: top top, bottom bottom;
    background-size: 75%;
    overflow-y: hidden !important;
  }
  #registrationback {
    background-position: top top, bottom bottom;
    background-size: 75%;
    overflow-y: hidden !important;
  }
  #resetback {
    background-position: top top;
    background-size: 75%;
    height: 100vh !important;
    overflow-y: hidden !important;
  }
}

#loginback {
  background-image: url("./svg/notebook.svg"), url("./svg/login.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 33%;
  height: 100vh;
  overflow-x: hidden !important;
}

#registrationback {
  background-image: url("./svg/registration.svg"), url("./svg/check.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 33%;
  height: 100vh;
  overflow-x: hidden !important;
}

#resetback {
  background-image: url("./svg/forgot.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 33%;
  height: 100vh;
  overflow-x: hidden !important;
}

#landbox {
  top: 34vh;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
}

#landtext {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 2.3rem;
  height: auto;
  text-align: center;
  padding: 10px;
}
.landsub {
  font-family: "Cardo", serif;
  margin-top: 15px;
  font-size: 1.8rem;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:ital,wght@0,900;1,500&display=swap");

.underline_btn {
  display: inline-block;
  padding: 1em 0.5rem;
  border-radius: 0;
  color: #b2876f;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  line-height: normal;
}
.underline_btn:before,
.underline_btn:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
}
.underline_btn:before {
  -webkit-transition: width 0s ease, background 0.4s ease;
  transition: width 0s ease, background 0.4s ease;
  left: 0;
  right: 0;
  bottom: 6px;
}
.underline_btn:after {
  right: 2.2%;
  bottom: 6px;
  background: #b2876f;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.underline_btn:hover:before {
  width: 97.8%;
  background: #b2876f;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  color: black !important;
}
.underline_btn:hover:after {
  width: 97.8%;
  background: 0 0;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  color: black !important;
}

.btn {
  display: inline-block;
  padding: 1em 1.6em;
  border-radius: 3px;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.btn:hover {
  color: white;
}
.btn:hover:after {
  -webkit-animation-name: bgin;
  animation-name: bgin;
  -webkit-transform: skew(-45deg) translate(-50%);
  transform: skew(-45deg) translate(-50%);
}
.btn:after {
  content: "";
  z-index: -1;
  width: 150%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-animation-name: bgout;
  animation-name: bgout;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-transform: skew(-45deg) translate(-150%);
  transform: skew(-45deg) translate(-150%);
}
.btn--green {
  border: 2px solid white;
  color: white;
  background-color: green;
}
.btn--green:after {
  z-index: 1;
  background-color: #00b300;
}
.btn--orange {
  border: 2px solid #f28e0a;
  color: #f28e0a;
}
.btn--orange:after {
  background-color: #f28e0a;
}
.btn--blue {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: #505959;
  letter-spacing: 2px;
  padding: 1.2em 2.2em;
}
.btn--blue:hover {
  color: #00d2ff;
  box-shadow: 0 27px 55px rgba(0, 0, 0, 0.3), 0 17px 17px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes bgin {
  from {
    -webkit-transform: skew(-45deg) translate(-150%);
    transform: skew(-45deg) translate(-150%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(-50%);
    transform: skew(-45deg) translate(-50%);
  }
}

@keyframes bgin {
  from {
    -webkit-transform: skew(-45deg) translate(-150%);
    transform: skew(-45deg) translate(-150%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(-50%);
    transform: skew(-45deg) translate(-50%);
  }
}
@-webkit-keyframes bgout {
  from {
    -webkit-transform: skew(-45deg) translate(-50%);
    transform: skew(-45deg) translate(-50%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(50%);
    transform: skew(-45deg) translate(50%);
  }
}
@keyframes bgout {
  from {
    -webkit-transform: skew(-45deg) translate(-50%);
    transform: skew(-45deg) translate(-50%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(50%);
    transform: skew(-45deg) translate(50%);
  }
}
.nav-btn {
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: #31424e;
  padding: 0 15px;
  margin: 2rem 5px 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.nav-btn:before {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border-width: 2px;
  border-style: solid;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  border-color: transparent;
  opacity: 0;
  -webkit-animation-name: bubbleOut;
  animation-name: bubbleOut;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
.nav-btn:hover:before {
  -webkit-animation-name: bubbleIn;
  animation-name: bubbleIn;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
